%h1 Create a new car

- if @car.errors
  %ul
    - @car.errors.full_messages.each do |error|
      %li= error


= form_for @car do |f|
  %p
    = f.label :year, "Year: "
    = f.text_field :year

  %p
    = f.label :manufacturer_id, "Make: "
    = f.collection_select :manufacturer_id, @manufacturers, :id, :name, selected: @manufacturer.id
  %p
    = f.label :model, "Model: "
    = f.text_field :model
  %p
    = f.label :mileage, "Mileage: "
    = f.text_field :mileage
  %p
    = f.label :color, "Color: "
    = f.text_field :color
  %p
    = f.label :description, "Description: "
    = f.text_area :description

  = f.submit "Submit new car"

%p
  = link_to cars_path do
    Back to cars