%h1 Sign in

= form_for :user, url: {action: "create", controller: "sessions"} do |f|
  = label_tag :username, "Username:"
  = text_field_tag :username
  = label_tag :password, "Password:"
  = text_field_tag :password, "", type: :password
  = submit_tag "Sign in"
