.row
  - @restaurant.errors.full_messages.each do |value|
    = value
    %br
  %br

  %p New Restaurant Form
  = form_for @restaurant do |f|
    = f.label :name, "Name:"
    = f.text_field :name

    = f.label :address, "Address:"
    = f.text_field :address

    = f.label :city, "City:"
    = f.text_field :city

    = f.label :state, "State:"
    = f.text_field :state

    = f.label :zip, "Zip:"
    = f.text_field :zip

    = f.label :description

    = f.text_area :description

    = f.submit "Add Restaurant"