%h1 Create a new manufacturer

- if @manufacturer.errors
  %ul
    - @manufacturer.errors.full_messages.each do |error|
      %li= error


= form_for @manufacturer do |f|
  %p
    = f.label :name, "Name: "
    = f.text_field :name
  %p
    = f.label :country, "Country: "
    = f.text_field :country

  = f.submit "Submit new manufacturer"

%p
  = link_to manufacturers_path do
    Back to manufacturers