%html
  %head
    %meta{ charset: "utf-8", name: "viewport", content: "width=device-widh" }
    %meta{ name: "viewport", content: "width=device-widh", "initial-scale": 1.0 }
    %title Launch Tech Reviews
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "application.js"
  %body
    .title-bar{"data-hide-for" => "small", "data-responsive-toggle" => "realEstateMenu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}
      .title-bar-title Menu
    .top-bar
      .row
        .top-bar-left
          %ul.menu{"data-responsive-menu" => "accordion"}
            = link_to items_path do
              %li.menu-text Launch Reviews
            -# %li
            -#   %input{:placeholder => "Search", :type => "search"}/
            -# %li
            -#   %button.button{:type => "button"} Search

            -# %li
            -#   %a{:href => "#"} One
        .top-bar-right
          %ul.dropdown.menu{"data-dropdown-menu" => ""}
            %li
              - if is_user_authenticated?
                = link_to new_item_path do
                  Add an item
            %li.has-submenu
              - if is_user_authenticated?
                %a{:href => "#0"} My account
                %ul.submenu.menu.vertical{"data-submenu" => ""}
                  -# %li
                    = link_to user_path(@auth_user) do
                      My reviews
                  %li
                    = link_to user_signout_path, method: :post do
                      Sign out
              - else
                = link_to user_login_path, class: "button" do
                  Login
    %br

    - if flash[:notice]
      .row
        .success.callout{"data-closable" => ""}
          %p= flash[:notice]
          %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
            %span{"aria-hidden" => "true"} ×

    - if flash[:error]
      .row
        .alert.callout{"data-closable" => ""}
          %p= flash[:error]
          %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
            %span{"aria-hidden" => "true"} ×

    = yield