.column.row
  %h3= @item.name
  %p
    %pre= @item.description.strip
.column.row
  - if is_admin?
    = link_to item_path(@item, authenticity_token: form_authenticity_token), method: :delete, data: {confirm: 'Are you sure?'} do
      Delete
  %hr/
  %ul#example-tabs.tabs{"data-tabs" => ""}
  .tabs-content{"data-tabs-content" => "example-tabs"}
    #panel1.tabs-panel.is-active
      %h4 Reviews
      - @reviews.each do |review|
        = render 'items/review', review: review

      - if is_user_authenticated?
        = render 'items/review_form'